<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Registration Form</h1>

    <form action="/register">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        
        <label for="birthday">Password:</label>
        <input type="date" id="birthday" name="birthday"><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        
        <label for="group">Group:</label>
        <select id="group" name="group">
            <option value="DP2-1">DP2-1</option>
            <option value="DP2-2">DP2-2</option>
            <option value="DP2-3">DP2-3</option>
            <option value="DP2-4">DP2-4</option>
        </select><br>

        <label for="married">Married?</label>
        <input type="checkbox" id="married"><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>